<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="AUTHOR" content="@Model.MetaAuthor" />
    <meta name="KEYWORDS" content="@Model.MetaKeywords" />
    <meta name="SUBJECT" content="@Model.MetaSubject" />
    <meta name="DESCRIPTION" content="@Model.MetaDescription"/>
    
    <title>>@Model.PageTitle</title>

    <link href="~/css/fullcalendar.css" rel="Stylesheet" type="text/css" />
    <link href="~/css/fullcalendar.print.css" rel="Stylesheet" type="text/css" />
    <link href="~/css/themes/base/jquery.ui.all.css" rel="Stylesheet" type="text/css" />
    <link href="~/css/adt_higherground/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/rte.css" rel="Stylesheet" type="text/css" />
</head>
<body>

    <div id="dialog">
    </div>

    <!-- wrap starts here -->
    <div id="wrap">
        <div id="top-bg">
        </div>
        <!--header -->
        <div id="header">
            <h1 id="logo-text">
                <a href="" title="">@Model.SiteName</a></h1>
            <h2 id="slogan">
                @Model.SiteSlogan</h2>
            <div id="header-links">
                @Html.Partial("_LogOnPartial")
            </div>
            <!--header ends-->
        </div>
        <div id="header-photo">
        </div>
        <div id="nav">
            <ul>                
                <li><a asp-controller="home" asp-action="index">Home</a></li>
                <li><a asp-controller="ministries" asp-action="index">Ministries</a></li>
                <li><a asp-controller="eventcalendar" asp-action="events">Events</a></li>
                <li><a asp-controller="articles" asp-action="index">Articles</a></li>
                <li><a asp-controller="home" asp-action="about">About Us</a></li>
                <li><a asp-controller="home" asp-action="contact">Contact</a></li>
            </ul>
        </div>
        <!-- content-wrap starts -->
        <div id="content-wrap">
            <div id="sidebar" style="float: left">
                <div style="padding: 0px 0px 0px 5px">
                    <h3>General</h3>
                    </div>
                    
                <ul>
                    <li><a asp-controller="home" asp-action="christianity">African American Christianity</a></li>
                    <li><a asp-controller="home" asp-action="history">Church History</a></li>
                    <li><a asp-controller="home" asp-action="about">Service Times</a></li>
                    <li><a asp-controller="home" asp-action="mural">Church Mural</a></li>
                </ul>
                
                <div id="fb-root"></div>
<script>    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like" data-href="http://www.holyangels.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
            </div>
            <!-- main start -->
            <div id="main">
                @RenderBody()
            </div>
            <!-- end main -->
        </div>
        <!-- content-wrap ends-->
        <!-- footer starts -->
        <div id="footer-wrap">
            <p>
                Development by KS Technologies <br />
            </p>
            <p>CSS by <a href="http://www.styleshout.com">styleshout (To remove link send donation to ealigam@gmail.com)</a>.</p>            
        </div>
        <!-- footer ends here -->
    </div>
    <!-- end wrap -->

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
