
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="KEYWORDS" content="@Model.MetaKeywords" />
    <meta name="SUBJECT" content="@Model.MetaSubject" />
    <meta name="DESCRIPTION" content="@Model.MetaDescription"/>
    
    <title>@Model.PageTitle</title>

	<environment include="Production">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.print.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="~/js/ha.js"></script>
</environment>

    <environment include="Development">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.print.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
   		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	</environment>

    <link href="~/css/adt_higherground/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/rte.css" rel="Stylesheet" type="text/css" />
    <script src="~/js/ha.js"></script>

</head>
<body>

    <div id="dialog">
    </div>

    <!-- wrap starts here -->
    <div id="wrap">
        <div id="top-bg">
        </div>
        <!--header -->
        <div id="header">
            <h1 id="logo-text">
                <a href="" title="">@Model.SiteName</a></h1>
            <h2 id="slogan">
                @Model.SiteSlogan</h2>
            <div id="header-links">
                @Html.Partial("_LogOnPartial")
            </div>
            <!--header ends-->
        </div>
        <div id="header-photo">
        </div>
        <div id="nav">
            <ul>                
                <li><a asp-controller="home" asp-action="index">Home</a></li>
                <li><a asp-controller="ministries" asp-action="index">Ministries</a></li>
                <li><a asp-controller="eventcalendar" asp-action="events">Events</a></li>
                <li><a asp-controller="home" asp-action="about">About Us</a></li>
                <li><a asp-controller="home" asp-action="contact">Contact</a></li>
            </ul>
        </div>
        <!-- content-wrap starts -->
        <div id="content-wrap">
            <div id="sidebar" style="float: left">
                <div style="padding: 0px 0px 0px 5px">
                    <h3>General</h3>
                    </div>
                    
                <ul>
                    <li><a asp-controller="home" asp-action="christianity">African American Christianity</a></li>
                    <li><a asp-controller="home" asp-action="history">Church History</a></li>
                    <li><a asp-controller="home" asp-action="about">Service Times</a></li>
                    <li><a asp-controller="home" asp-action="mural">Church Mural</a></li>
                </ul>
                
                <div id="fb-root"></div>
<script>    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like" data-href="http://www.holyangels.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
            </div>
            <!-- main start -->
            <div id="main">
                @RenderBody()
            </div>
            <!-- end main -->
        </div>
        <!-- content-wrap ends-->
        <!-- footer starts -->
        <div id="footer-wrap">
            <p>
                Development by KS Technologies <br />
            </p>
            <p>CSS by <a href="http://www.styleshout.com">styleshout (To remove link send donation to ealigam@gmail.com)</a>.</p>            
        </div>
        <!-- footer ends here -->
    </div>
    <!-- end wrap -->

    @RenderSection("Scripts", required: false)
</body>
</html>
