@model HolyAngels.Web.Areas.Manage.Models.ForgotPasswordModel

<script language="javascript" type="text/javascript">
    $(function () {
        HA.common.bindClicks();
    });
</script>
<div style="padding: 0px 0px 0px 10px">
    <h3>@Model.SubTitle</h3>
</div>

@using (Html.BeginForm(MVC.User.ActionNames.ForgotPassword, MVC.User.Name, FormMethod.Post, new { @name = "haForm", @id = "haForm" }))
{   
    <p>
        @Html.ValidationMessage("Error")        
    </p>
    <p>
    @Html.LabelFor(m => m.Email) 
    @Html.TextBoxFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email)
    </p>
    
    <p>
    <a href="javascript:Stub();" name="retreivePwd" id="retreivePwd">Retreive Password</a>
    </p>
}