@model HolyAngels.Web.Areas.Manage.Models.ChangePasswordModel

<script language="javascript" type="text/javascript">
    $(function () {
        HA.manageUsers.initEditPage();
    });
</script>

<div style="padding: 10px 0px 0px 15px">
    <h3>@Model.SubTitle</h3>
</div>

@using (Html.BeginForm(new T4MVC_ActionResult(MVC.Manage.Name, MVC.Manage.Users.Name, MVC.Manage.Users.ActionNames.ChangePassword), FormMethod.Post, new { @name = "haForm", @id = "haForm" }))
{
    <div style="padding: 10px 0px 5px 15px">
    <p>
        @Html.ValidationMessage("Error")
    </p>

    <p>
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)    
    @Html.ValidationMessageFor(m => m.Password)
    </p>
    <p>
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)
    @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </p>
    
    @Html.HiddenFor(m => m.IdKey)
    @Html.HiddenFor(m => m.Email)

    </div>
    <div style="padding: 10px 0px 5px 15px">
        <a href="javascript:Stub();" id="save" name="save">Save</a>
    </div>
}