@using HolyAngels.Web.Areas.Manage.Models
@using HolyAngels.Web.Domains
@using MvcContrib.UI.Grid
@using MvcContrib.UI.Pager

@model PaginationModel<EventModel>
           
<script language="javascript" type="text/javascript">
    $(function () {
        HA.manageEvents.initListPage();
    });
</script>

<div style="padding: 10px 0px 10px 15px">
    @Html.ActionLink("Add New Event", new T4MVC_ActionResult(@MVC.Manage.Name,  @MVC.Manage.Events.Name, @MVC.Manage.Events.ActionNames.Add))
    <br />
    @Html.Pager(Model.Data)
</div>

@Html.Grid(Model.Data).Columns(
        columns => {columns.For(d => d.Title).Sortable(true).SortColumnName(Constants.Sort_Column_Title);
        columns.For(d => d.Location).Sortable(true).SortColumnName(Constants.Sort_Column_Location);
        columns.For(d => d.StartDate + "&nbsp;to<br/> " + d.EndDate).Sortable(true).SortColumnName(Constants.Sort_Column_Start).Named("Date").DoNotEncode();
        columns.For(d => d.StartTime + "&nbsp;to<br/>" + d.EndTime).Sortable(false).Named("Time").DoNotEncode();
        columns.For(d => (d.Approved)? "approved": "").DoNotEncode().Named("Status").Sortable(true).SortColumnName(Constants.Sort_Column_Approved);
        columns.For(d =>
            Html.ActionLink("Edit", new T4MVC_ActionResult(MVC.Manage.Name, MVC.Manage.Events.Name, MVC.Manage.Events.ActionNames.Edit).AddRouteValue("idKey", d.IdKey))
            ).Named("").DoNotEncode();
        }).Sort(Model.SortOptions)

<div style="padding: 10px 0px 10px 15px">
    @Html.Pager(Model.Data)
    <br />
    @Html.ActionLink("Add New Event", new T4MVC_ActionResult(@MVC.Manage.Name,  @MVC.Manage.Events.Name, @MVC.Manage.Events.ActionNames.Add))
</div>
